<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OurList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>345C28B32AD4F1E10045B756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345C28C32AD4F1E20045B756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345C28CD2AD4F1E20045B756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
